body {
    width: 100%;
    height: 100vh;
    margin: 0;
    background-color: #ffffff;
    color: #f5f6f7;
    font-family: Tahoma;
    font-size: 16px;
    flex-wrap: wrap;
}

* {
    box-sizing: border-box;
}

::-webkit-scrollbar {
    display: none;
}

::placeholder {
    color: rgba(0, 0, 0, 0.5);
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    padding-top: 20px;
    border-bottom: 5px solid white;
    margin-left: 500px;
    margin-right: 500px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-transform: uppercase;
}

hr {
    margin-top: 20px;
    margin-bottom: 10px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 3px;
    
}


fieldset {
    border: none;
    padding: 2rem 0;
    border-bottom: 5px solid rgb(123, 106, 62);
    box-shadow: 0 0 10px 0 rgba(83, 14, 14, 0.8);
}

label {
    display: block;
    margin: 2rem 0;
}

textarea {
    font-size: 16px;
    font-weight: bold;
}

.firstpart {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.secondpart {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 1600px;
    height: 50px;
    background: rgb(0, 0, 0);
    border-bottom: 5px solid rgb(123, 106, 62);
    box-shadow: 0 0 10px 0 rgba(83, 14, 14, 0.8);
    min-width: 100%;
}


.FORM {
    width: 1600px;
    height: 570px;
    background: rgb(0, 0, 0);
    border-bottom: 5px solid rgb(123, 106, 62);
    box-shadow: 0 0 10px 0 rgba(83, 14, 14, 0.8);
    min-width: 100%;
}


.formsubmit {
 text-align: center;
} 

.email {
    border: none;
    border-radius: 2px;
    width: 600px;
    height: 30px;
    box-shadow: 0 0 10px 0 rgba(173, 161, 161, 0.5);
}

.text {
    border: none;
    border-radius: 2px;
    width: 600px;
    height: 300px;
    box-shadow: 0 0 10px 0 rgba(173, 161, 161, 0.5);
}

.submit {
    border: none;
    border-radius: 2px;
    width: 605px;
    height: 40px;
    background-color: orange;
    color: white;
    font-size: 24px;
    font-weight: bold;
    box-shadow: 0 0 10px 0 rgba(256, 165, 0, 0.5);
}

.submit:hover {
    background-color: rgb(255, 181, 42);
    cursor: pointer;
    
}

.submit:active {
    opacity: 0.7;
}

footer {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-weight: bold;
    background-color: rgba(13, 33, 57, 0.9);
    padding-bottom: 5px;
}

.social {
    padding: 0 400px 0 400px;
    display: flex;
    justify-content: space-between;
}

button {
    border: none;
    border-radius: 5px 30px 30px 5px;
    font-size: 24px;
    padding: 8px;
    width: 200px;
    box-shadow: 0 7px 10px 0 rgba(0, 0, 0, 0.5);
}

.instagram {
    background: linear-gradient(20deg,rgb(255, 149, 135), rgb(223, 49, 138), rgb(113, 6, 162));
    color: white;
}

.instagram:hover {
    opacity: 70%;
    cursor: pointer;
}

.instagram:active {
    background: linear-gradient(20deg,rgb(255, 180, 170), rgb(235, 107, 173), rgb(155, 64, 197));
}

.facebook {
    background:rgb(58, 87, 157);                                     /*linear-gradient(rgb(118, 150, 255), rgb(35, 3, 110));*/
    color: white;
}

.facebook:hover {
    opacity: 70%;
    cursor: pointer;    
}

.facebook:active {
    background: rgb(77, 106, 175);    
}

.whatsapp {
    background: rgb(37, 185, 62);                    /*linear-gradient(rgb(118, 255, 141), rgb(3, 110, 21)); */
    color: white;
}

.whatsapp:hover {
    opacity: 70%;
    cursor: pointer;
}

.whatsapp:active {
    background: rgb(74, 212, 97);   
}

.buttons {
    padding-top: 30px;
}

.contactinfo {
    display: flex;
    text-align: center;
    justify-content: space-between;
    padding: 0 300px 0 300px
}

.vl {
    border-left: 1px solid white;
    height: 40px;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
    body {
        width: 430px;  
    }   
    .container {
        width: 375px;
    }

    img {
        max-width: 375px;
    }

    .FORM {
        max-width: 375px;
    }
    
    .formsubmit {
        text-align: center;
    }


    h1 {
        width: 310px;
        font-size: 16px;
        position: relative;
        right: 440px;
        margin-right: 39px;
    }

    .email {
        width: 325px; ;   
    }
    
    .text {
        width: 325px;
    }
    
    .submit {
        width: 325px;
    }
    
    footer {
        width: 430px;
    }

    .social {
        width: 210px;
        position: relative;
        right: 430px;
        
    }

    button {
        width: 80px;
        border-radius: 5px;
    ;
    }

    .instagram, .facebook, .whatsapp {
        color: transparent
    }

    .contactinfo {
        width: 310px;
        font-size: 16px;
        position: relative;
        right: 200px;
        margin-right: 39px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    body {
        width: 1024px;  
    }   
    .container {
        width: 375px;
    }

    img {
        max-width: 375px;
    }

    .FORM {
        max-width: 375px;
    }
    
    .formsubmit {
        text-align: center;
    }


    h1 {
        width: 310px;
        font-size: 16px;
        position: relative;
        right: 140px;
        margin-right: 39px;
    }

    .email {
        width: 325px; ;   
    }
    
    .text {
        width: 325px;
    }
    
    .submit {
        width: 325px;
    }
    
    footer {
        width: 1024px;
    }

    .social {
        position: relative;
        right: 190px;
    }

    .contactinfo {
        width: 1024px;
        font-size: 16px;
        display: flex;
        justify-content: space-between;
    }

}

@media screen and (max-width: 1280px) {
    body {
        width: 1280px;  
    }   
    .container {
        width: 375px;
    }

    img {
        max-width: 375px;
    }

    .FORM {
        max-width: 375px;
    }
    
    .formsubmit {
        text-align: center;
    }


    h1 {
        width: 310px;
        font-size: 16px;
        position: relative;
        right: 10px;
        margin-right: 39px;
    }

    .email {
        width: 325px; ;   
    }
    
    .text {
        width: 325px;
    }
    
    .submit {
        width: 325px;
    }
    
    footer {
        width: 1280px;
    }

    .social {
        position: relative;
        right: 50px;
    }

    .contactinfo {
        width: 1280px;
        font-size: 16px;
        display: flex;
        justify-content: space-between;
    }

}

@media screen and (max-width: 1440px) {
    body {
        width: 1440px;  
    }   
    .container {
        width: 375px;
    }

    img {
        max-width: 375px;
    }

    .FORM {
        max-width: 375px;
    }
    
    .formsubmit {
        text-align: center;
    }


    h1 {
        width: 310px;
        font-size: 16px;
        position: relative;
        left: 70px;
        margin-right: 39px;
    }

    .email {
        width: 325px; ;   
    }
    
    .text {
        width: 325px;
    }
    
    .submit {
        width: 325px;
    }
    
    footer {
        width: 1440px;
    }

    .social {
        position: relative;
        left: 10px;
    }

    .contactinfo {
        width: 1440px;
        font-size: 16px;
        display: flex;
        justify-content: space-between;
        position: relative;
        left: 0px;
    }

}